
body {
  overflow-x: hidden;
}

.App-header {
  background-color: #337ab7;
  height: 50px;
  padding: 15px;
  color: white;
  text-align: center;
}

.App-intro {
  font-size: large;
}

img {
  max-width: 100%; }


/* Merchant Component Styles */

.card {
  background: #eee;
  padding: 1em 3em;
  line-height: 1em;
  margin: 20px 30px;
  height: 218px;
}

@media screen and (min-width: 997px) {
  .wrapper {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex; } }

.details {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
      -ms-flex-direction: column;
          flex-direction: column; }

.premium span {
  color: #ff9f1a; }

.merchant-name {
  margin-top: 0; }

.merchant-param {
  margin-right: 10px; }
  .merchant-param:first-of-type {
    margin-left: 40px; }

.orange {
  background: #ff9f1a; }

.green {
  background: #85ad00; }

.blue {
  background: #0076ad; }

.action .btn{
  float:left;
  margin-right: 10px;
}

.btn.btn-sm{
  margin-top: 20px;
  margin-left: 30px;
}

.noMerchants{
  text-align: center;
}